.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.7s ease;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.primary {
  background-color: #007bff;
  color: white;
}

.primary:hover {
  background-color: #ffa0ef;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.primary:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.secondary {
  background-color: #23ffb6;
  color: white;
}

.secondary:hover {
  background-color: #a1caff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.secondary:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.success {
  background-color: #3dff6a;
  color: white;
}

.success:hover {
  background-color: #3dd2ff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.success:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.small {
  padding: 5px 10px;
  font-size: 14px;
}

.medium {
  padding: 5px 10px;
  font-size: 16px;
}

.large {
  padding: 5px 30px;
  font-size: 18px;
}

.outline {
  background-color: transparent;
  border: 1px solid currentColor;
}

.block {
  display: block;
  width: 50%;
  margin-top: 1px;
  margin-bottom: 100px;
}
