body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #ffc250;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.header {
  margin-bottom: 150px;
  margin-top: 1px;
  text-shadow: 0 2px 4px rgba(197, 26, 26, 0.541);
}
